{% load i18n static %}
<a
    href="{% if genre %}{{ genre.get_absolute_url }}{% else %}#{% endif %}"
    class="flex items-center shrink-0 snap-start gap-2 px-3 py-[5px] bg-[#5959592E] border border-transparent hover:border-[#B90000] rounded-[9.6px] text-[15px] md:text-[17px] text-[#FFFFFF] transition-all shadow-[0_0_15px_rgba(220,38,38,0.2)]"
>
    <div
        class="bg-gradient-to-b from-[#ED1C24] via-[rgba(153,0,6,0.760784)] to-[rgba(153,0,6,0.760784)] w-[4.8px] h-[4.8px] rounded-[96.03px]"
    ></div>
    {{ genre.name|default:_("علمی تخیلی") }}
</a>
