{% load static %}
                <li class="splide__slide">
                    <div class="flex flex-col cursor-pointer group">
                        <div
                            class="relative rounded-[20px] overflow-hidden mb-2 md:mb-3 border border-white/5 shadow-2xl"
                        >
                            <img
                                src="{% static 'public/assets/img/poster-3.jpg' %}"
                                class="object-cover w-full transition-transform duration-700 group-hover:scale-110 group-hover:blur-sm"
                            />
                            <div
                                class="absolute inset-0 flex flex-col items-center justify-start p-6 text-justify transition-opacity duration-300 opacity-0 bg-black/75 group-hover:opacity-100"
                            >
                                <div
                                    class="bg-red-600 text-white text-[13px] mb-5 px-3 py-2 rounded-[10px] font-bold w-full flex justify-between items-center"
                                >
                                    <span class="text-white">سریال</span>
                                    <span class="w-px h-3.5 bg-white/50"></span>
                                    <span class="">دوبله</span>
                                </div>
                                <p class="text-[14px] leading-6 text-white line-clamp-5">
                                    لورم ایپسوم متن ساختگی با تولید
                                    سادگی نامفهوم از صنعت چاپ...
                                </p>
                            </div>
                        </div>
                        <div class="w-full text-right">
                            <h3 class="text-[16px] md:text-[14px] md:text-base text-white md:mb-1 group-hover:text-red-500 transition-colors font-bold">
                                Hitman: Agent 47
                            </h3>
                            <div class="flex md:flex-row-reverse items-center justify-between gap-x-2 md:gap-x-0">
                                <div class="flex items-center gap-1 bg-[#292B33] px-1.5 md:py-0.5 rounded-full text-[11px] md:text-base border border-white/5">
                                    <svg class="w-2.5 h-2.5 md:h-3.5 md:w-3.5 text-yellow-500 fill-current" viewBox="0 0 20 20">
<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
</svg>
                                    <span class="text-[11px] md:text-[12px] font-light md:font-normal text-white pt-0.5">5.7</span>
                                </div>
                                                                <span class="bg-[#292B33] px-1.5 py-0.5 rounded-full md:px-0 md:py-0 border border-white/5 md:border-none md:bg-transparent text-[11px] md:text-base font-light md:font-normal text-white">اکشن، جنایی</span>

                                <span class="bg-[#292B33] px-1.5 py-0.5 rounded-full md:px-0 md:py-0 border border-white/5 md:border-none md:bg-transparent text-[11px] md:text-base font-light md:font-normal text-white md:hidden">+18</span>

                            </div>
                        </div>
                    </div>
                </li>
